//Primary colors
$primary-dark: #323232;
$primary-color: #0095ff;
$primary-grey: #afafaf;
$primary-light: #ffffff;

//secondary colors
$secondary-dark: #000000;
$secondary-color: #0065ad;
$secondary-grey: #e1e1e1;
$secondary-light: #fafafa;
