@use "../../../styles/partials/colors" as colors;
@use "../../../styles/partials/breakpoints" as breakpoints;
@use "../../../styles/partials/fonts" as fonts;

.next-video {
  margin: 0 1rem;
  &__heading {
    margin: 0;
    color: colors.$primary-grey;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    cursor: pointer;

    &:last-of-type {
      padding-bottom: 1rem;
    }
  }

  &__image {
    object-fit: cover;
    min-width: 7rem;
    max-width: 7rem;
    height: 4.25rem;
    border-radius: 4px;
    padding: 0;

    &--div {
      height: fit-content;
      width: fit-content;
      border-radius: 4px;
      padding-right: 1rem;
    }
  }

  &__text {
    padding-right: 1rem;
  }

  &__title,
  &__channel {
    text-align: left;
    margin: 0;
    font-size: 0.813rem;
    color: colors.$primary-dark;
  }

  &__title {
    font-weight: 600;

    line-height: 1.5;
  }

  &__channel {
    font-weight: 400;
    line-height: 2.25;
  }
}

@include breakpoints.medium {
  .next-video {
    margin: 0 1.5rem;

    &__heading {
      font-size: 0.875rem;
    }

    &__title {
      font-size: 0.875rem;
    }

    &__channel {
      font-size: 0.875rem;
    }

    &__list {
      width: 50%;
    }
  }
}

@include breakpoints.large {
  .next-video {
    border-left: 1px solid colors.$secondary-grey;
    padding-left: 1.5rem;
    margin-left: 0;
    &__list {
      width: 100%;
    }
  }
}
